<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>
<%= form_for(@tasks) do |t| %>
  <h2>Update Message</h2>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :message %>
  <%= t.text_field :message %>
  <%= t.submit %>
<% end %>
